body {
    display: flex;
    background-image: url("nah5zgxq1cr61.jpg");
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
    background-color: aqua;
}

a:hover {
    color: brown;
}